.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-bottom: 10%;
  width: 100%;
}

.button {
  border: 1px solid black;
  padding: 2%;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: silver;
}


.button_active {
  background-color: black;
  color: white;
}

.button_active:hover {
  background-color: black;
}

.button:disabled {
  background-color: silver;
  cursor:auto;
}
