.header {
  margin-bottom: 10%;
}

.addButton {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 5% 0;
  background-color: #06090E;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.addButton:hover {
  color: white
}

.errorBlock {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: tomato;
  text-align: center;
  transition-duration: 200ms;
  animation-name: errorFadeTop;
  animation-duration: 200ms;
}

@keyframes errorFadeTop {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}
