@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Heebo:wght@600&display=swap');

.task-list {
  font-family: 'Glass Antiqua', cursive;
  font-family: 'Heebo', sans-serif;
}

.header {
  margin-bottom: 10%;
}

.addButton {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 5% 0;
  background-color: #06090E;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10%;
  border-radius: 5px;
}

.addButton:hover {
  color: greenyellow;
}

.errorBlock {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: tomato;
  text-align: center;
  transition-duration: 200ms;
  animation-name: errorFadeTop;
  animation-duration: 200ms;
}

@keyframes errorFadeTop {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}
