.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 250px;
}

.task {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.taskHeader {
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

.taskText {
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10%;
}

.button {
  margin-bottom: 5%;
  border: none;
  background-color: white;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.isImportant {
  position: absolute;
  top: -15%;
  left: 80%;
  text-align: center;
  font-weight: 600;
  color: green;
  user-select: none;
  background-color: #ffd700;
  padding: 0 1%;
  border-radius: 5px;
  box-shadow: 0 5px 10px 1px rgba(0,0,0,0.2)
}

@media screen and (min-width: 768px) {
  .isImportant {
    left: 85%;
  }
}
