.header {
  font-size: 3rem;
}

.add-button {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
  padding: 2%;
  font-size: 1.5rem;
}

.invalid-input {
  border: 2px solid tomato;
}

.invalid-feedback {
  color: tomato;
  position: relative;
}
