.search-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.submit-btn {
  border-radius: 5px;
  background-color: darkslategray;
  color: white;
  font-weight: 600;
  width: 20%;
}

.submit-btn:disabled {
  background-color: lightslategray;
}

@media screen and (max-width: 768px) {
  .search-form {
    justify-content: center;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }
}
